html {
  background-image: url("img/photo.png");
  background-repeat: no-repeat;
  background-position: top center;
}

body {
    margin: 0;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif; 

  }
  
  div {
  
    display: flex;
    text-align: center;
    padding: 100px;
    justify-content: center;
    
  }
  .num-1 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;  
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  
  }
  
  .num-2 {
    color: white;
    border-radius: 10px;  
    width: 50px;  
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  
  .num-3 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  
  .num-4 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  /*
  .num-5 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  .num-6 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  .num-7 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  }
  .num-8 {
    color: white;
    border-radius: 10px;  
    width: 50px;
    display: block;
    border: 3px white solid;  
    margin: 30px;
    padding: 50px;
  } */
  header {
   
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 25px;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .count {
    color: white;
    border-radius: 10px;  
    width: 30px;
    display: block;
    border: 3px white solid;  
    margin:  auto;
    padding: 15px;
    font-size: 30px;
    text-align: center;
    
  }
  
  button {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white; 
    outline: none;
    border: 3px white solid;
    margin-right: auto;
    border-radius: 10px;
  }
  button:hover {
    background-color: rgb(58, 58, 58);

  }
  footer {
    display: flex;
    margin-top: 600px;
    background-color: black;
    color: white;
    text-align: bottom;
    padding-bottom: 72px; 
    font-size: 15px;
    padding-top: 72px;
    padding-left: 30px;
  }
  .minus {
    display: block;
    padding: 10px 15px;
    margin: 0 auto;
  }
  .plus {
    display: block;
    padding: 9px 14px;
  }
  span {
    display: flex;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
    padding-right: 0px;
  }
